<p>
  <strong>Train number:</strong>
  <%= @ticket.train.number %>
</p>
<p>
  <strong>Start station:</strong>
  <%= @ticket.start_station.title %>
</p>
<p>
  <strong>End station:</strong>
  <%= @ticket.end_station.title %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @ticket.passenger_name %>,
  <%= @ticket.passenger_passport %>
</p>

<%= link_to t('common.back'), tickets_path %>
