<!DOCTYPE html>
<html>
  <head>
    <title>Railway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <p>Hello, <%= current_user.name %>
          <%= link_to t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete %>
        </p>
      <% else %>
        <%= link_to t('devise.sessions.sign_in'), new_user_session_path %>
      <% end %>

      <p id="notice" class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
